.background1 {
  background-color: #30302e;
}

.background2 
{
  background-color:blue;

}
h1 {
  color: blue;
}
.h1 {
  color: red;
}

h2 
{
color: red;
}

.h2 
{
color:darkgrey;
}

h3 
{
color:gold;
}

#reasons
{
 color:black;
 font-size: 30px;
}


title {
  color: green;
}

#intro 
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 25px;
  text-align: center;
  color:crimson;
}
nav {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color:white;

}
 ul 
{
  text-align: center;
  font-weight: bold;

}

footer 
{
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color:white;
}

.footer 
{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align:justify;
  color:black;
}
